<%# <section>
  <%# <div class="tile is-ancestor"> %>
    <%# <%= render partial: 'products/product',
              collection: @products,
              locals: { show_link: true } %>
  <%# </div> %>
<%# </section> %>

<section>

  <%# <p>You have visited this page <%= pluralize cart, 'time' </p> %>
  <%= render @products %>



</section>


<%= paginate @products %>